body {
    font-family: Arial, sans-serif;
    background-color: #f3f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.agendar-cita-container {
    background-color: #fcdff1;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 450px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #834b8f;
    margin-bottom: 20px;
    font-size: 1.8em;
}

.form-container {
    margin-top: 10px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

label {
    display: block;
    text-align: left;
    color: #834b8f;
    font-size: 0.9em;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #834b8f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

button:hover {
    background-color: #6d3b73;
}

#message {
    color: green;
    font-weight: bold;
}

.citas-agendadas {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-height: 180px;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 20px;
}

#citas-list {
    text-align: left;
}

#citas-list div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#citas-list p {
    flex-grow: 1;
    margin: 0;
}

#citas-list button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #834b8f;
    color: white;
    border: none;
    cursor: pointer;
}

#citas-list button:hover {
    background-color: #6d3b73;
}

input[type="date"], input[type="time"], input[type="text"] {
    width: calc(50% - 10px);
}

.form-row select {
    width: calc(50% - 10px);
}

.back-button, .logout-button {
    margin-top: 10px;
    width: 100%;
    background-color: #834b8f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.back-button:hover, .logout-button:hover {
    background-color: #6d3b73;
}
