body {
    cursor: none;
}
/* Mantener el resto de los estilos */
.custom-cursor {
    position: absolute;
    width: 32px; /* Ajusta el tamaño según sea necesario */
    height: 32px;
    pointer-events: none;
    transition: transform 0.1s ease;
    z-index: 1000;
    transform: translate(-50%, -50%); /* Centra el cursor */
}

.cursor-default {
    background-image: url('cursor.png');
    background-size: cover;
}

.cursor-hover {
    background-image: url('cursor1.png');
    background-size: cover;
}

.cursor-click {
    background-image: url('cursor2.png');
    background-size: cover;
}
