/* Estilos para el cursor personalizado */
.cursor {
    position: absolute;
    pointer-events: none; /* No interferir con otros elementos interactivos */
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}

/* Estilos para el cursor al hacer clic */
.click-cursor {
    position: absolute;
    pointer-events: none; /* No interferir con otros elementos interactivos */
    z-index: 9998; /* Asegúrate de que no cubra otros elementos */
    width: 40px; /* Tamaño del PNG al hacer clic (ajústalo a tu preferencia) */
    height: 40px; /* Tamaño del PNG al hacer clic */
    transition: all 0.3s ease; /* Transición suave si lo deseas */
}
